
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.bg-lufy {
  background-image: url("./assets/Home.gif");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* จัดตำแหน่งไปทางขวา */
  align-items: center; /* จัดข้อความให้อยู่ตรงกลางในแนวตั้ง */
}

.HomeHeadText {
  font-weight: 1000;
  font-size: 50px;
  line-height: 30px;
  color: #000; /* สีดำ */
}

.HomeSubText {
  font-weight: 600; /* ทำให้หนาขึ้น */
  font-size: 24px;
  line-height: 50px;
  color: #000; /* สีดำ */
}

